apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sample-app-ingress
  namespace: argocd
  labels:
    app: sample-app
    component: ingress
    environment: dev
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  source:
    repoURL: https://github.com/chanon-dev/poc-deploy-k8s.git
    targetRevision: main
    path: environments/dev
    directory:
      include: ingress.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: dev

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
    - CreateNamespace=true
    - PrunePropagationPolicy=foreground
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m

  revisionHistoryLimit: 10
